.container {
  height: 300px;
  perspective: 500px;
  position: relative;
  width: 200px;
}
.card {
  border-radius: 5px;
  border: 1px solid  #CCC;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
}
.card section {
  backface-visibility: hidden;
  background-color: #FFF;
  border: 1px solid #CCC;
  height: 100%;
  position: absolute;
  width: 100%;
}
form {
  font-size: .8em;
  padding: 10px;
}
label {
  display: block;
  font-weight: bold;
}
input {
  border: 1px solid  #CCC;
  box-shadow: inset 2px 2px 2px #EEE;
  font-size: .9em;
  padding: 2px 5px;
}
.singup {
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}